<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Помощь</title>
		<link rel="stylesheet" href="/css/base.css">
		<link rel="stylesheet" href="/css/index.css">
		<link rel="stylesheet" href="/css/home.css">
	</head>
	<body style="padding:5em;">
			<header class="header">
				<h3>Помощь</h3><div>
				</div>
			</header>
<div style="">
Программа предназначена для наблюдения. Программа делает снимки, и проверяет различия между двумя последовательными снимками. Когда различия большие, программа зашифровывает снимок и отправляет зашифрованный снимок на удалённый сервер.
Просмотреть сохранённые снимки можно только имея ключ от шифра.
</div>
<div>
<h4>Порядок работы.</h4>
После входа в учётную запись нужно нажать кнопку 'начать съёмку' и сохранить файл ключа. Ключ надо скопировать на флэшку. Для просмотра снимков нужно войти в учётную запись и нажать на ссылку 'Посмотреть фотографии'. Перейдя на страницу просмотра фотографий, нужно открыть файл ключа и должны появиться фотографии. После просмотра фоторафий удалите их, нажав кнопку 'Удалить'.
</div>
		<footer class="info">
			<p></p>
			<p></p>
			<p></p>
		</footer>
	</body>
</html>
